
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100&display=swap');

body{
    width: 100%;
  
    
    padding: 20px;
    background-image: linear-gradient(to right, #7832d3, #6252e5, #496bf1, #2f80fa, #1c93ff);

}

.titulo{
    font-size: 40px;
    color:white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: weight;

}

.botao__criptografar{
    font-size: 18px;
    width: 328px;
    height:67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background-color: #FFFFFF;

}

.botao__descriptografar{
    font-size: 18px;
    width: 328px;
    height:67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background-color: #C6E4FF;

}

footer{
    color: white;
}